PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/shopify
JWT_SECRET=add_your_secret_here
RAZORPAY_KEY_ID=add_your_key_here
RAZORPAY_KEY_SECRET=add_your_secret_here
FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=add_your_cloud_name
CLOUDINARY_API_KEY=add_your_api_key
CLOUDINARY_API_SECRET=add_your_api_secret

GMAIL_USER=add_your_gmail
GMAIL_PASS=add_your_app_password
